<section class="page page--default">
  <div class="content--centered">
    <div class="main-layout">
      <section class="main-layout__feed">

        <div ng-if="mainVM.states.loading" class="placeholder-cards">
          <card-placeholder></card-placeholder>
          <card-placeholder></card-placeholder>
          <card-placeholder></card-placeholder>
          <card-placeholder></card-placeholder>
        </div>

        <card submission="submission" ng-repeat="submission in mainVM.data.submissions"></card>

      </section>
      <aside class="main-layout__aside">
        <form class="compact-form">
          <div class="compact-form__header">
            Get Your Own Feed
          </div>
          <div class="compact-form__body">
            <div class="option">
              <input class="input input--light" type="text" placeholder="username"/>
            </div>
            <div class="option">
              <input class="input input--light" type="text" placeholder="password"/>
            </div>
            <div class="option">
              <button class="btn btn--action">Sign Up</button>
            </div>
          </div>
        </form>
        <section class="main-layout__aside__option">
          <button class="btn btn--action state--active">Submit Something</button>
        </section>
      </aside>
    </div>
  </div>
</section>
