.main-layout {
  display: flex;
}

  .main-layout__feed {
    width: 641px;
    margin-right: 84px;

    padding-top: 80px; // temporary
    padding-bottom: 120px; // temporary
  }

    .main-layout__feed__item {
      margin-top: 17px;

      &:first-of-type {
        margin-top: 0;
      }

    }

  .main-layout__aside {
    flex-grow: 1;

    padding-top: 80px; // temporary
  }

    .main-layout__aside__option {
      margin-top: 40px;
    }

