$general: (
  block: (
    height: 200px,
    height-mobile: 114px
  ),
  header: (
    height: 114px,
    height-mobile: 127px,
    background-color: #ffffff
  ),
  footer: (
    height: 84px,
    background-color: #ffffff
  )
);
