<div class="content-card-wrapper main-layout__feed__item type--placeholder">
  <div class="content-card">
    <div class="content-card__header">
      <h3>
        loading...
      </h3>
    </div>
    <div class="content-card__body"></div>
    <div class="content-card__options">
      <div class="left-buttons">
        <button class="btn btn-icon-count">
          <span class="icon icon-star"></span>
          <span class="count">0</span>
        </button>
        <button class="btn btn-icon-count">
          <span class="icon icon-chat"></span>
          <span class="count">0</span>
        </button>
      </div>
      <button class="btn btn-icon right-button">
        <span class="icon icon-share"></span>
      </button>
    </div>
  </div>
  <div class="content-card__footer">
    <p class="text--options">
      <a>More Like This</a>
      <span class="divider">-</span>
      <a>Less Like This</a>
    </p>
  </div>
</div>
